Data/Characters/*
Data/Sources/*
Data/Metrics/*
cache/
.*
.*/
!.gitignore
__pycache__/
.ipynb_checkpoints/
todo.md

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# bert classifier gpu notebook
Src/bertclassifier_gpu.ipynb
Metrics/distilbert_embedder/*