# Base
ipykernel 
pylint
yapf

# Numerical
numpy
pandas
sklearn

# NLP
nltk

# Neural Networks
tensorflow
keras

# General Purpose Metrics
evaluate
datasets
transformers
happytransformer
sentence_transformers
torchmetrics

# Visualization
matplotlib
tqdm
wordcloud

# NLP Metrics
nlg-metricverse
pyemd
sacrebleu
unbabel-comet
git+https://github.com/google-research/bleurt.git

# missing
gensim
