# Base
ipykernel
pylint
yapf

# Numerical
numpy
pandas
sklearn

# NLP
gensim
nltk

# NLP Metrics
nlg-metricverse
pyemd
sacrebleu
unbabel-comet
git+https://github.com/google-research/bleurt.git

# Neural Networks
tensorflow
keras

# General Purpose Metrics
evaluate
datasets
transformers
sentence_transformers
torchmetrics

# Visualization
matplotlib
tqdm
wordcloud